

.container-list {
    display: flex;
    flex-direction: column;

    margin: 7rem 0 2.5rem;
}


.items-list {
    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: column;
    flex-basis: 45rem;

    margin-top: 1.2rem;
    row-gap: 2.5rem;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 5rem;

    background: var(--inputBackground);
    border-radius: 1rem;
    padding: 0 1.2rem;
}
.item-name {
    display: flex;
    align-items: flex-start;

    column-gap: 1.2rem;
}
.input-checkbox {
    width: 2.2rem;
    height: 2.2rem;
}


.no-task {
    text-align: center;
}
.no-task i {
    font-size: 3rem;
    color: var(--textColor);

    margin-bottom: 1.2rem;
}
.disable {
    display: none;
}



.fa-solid {
    font-size: 1.6rem;
}
.fa-trash-can {
    color: var(--deleteIcon);
}